.FashionNews{
    padding: 0 40px;
    margin-top: 65px;
}

.news-container .new-line {
    width: 100%;
    height: 100%;
}

.news-title {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif;
}

.news-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.News {
    width: 33.3%;
    padding: 0 15px;
    overflow: hidden;
}

.pagnigation .pagnigation-container{
    width: 90px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagnigation-active {
    color: #111 !important;
    text-decoration: none !important;
}

.pagnigation_disable {
    cursor: default;
    pointer-events: none;
    color: #eee !important;
    /* display: none; */
}

