.Footer {
    padding: 0 40px;
    height: 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 12px;
}
.cr {
    color: #000 !important;
}
.footer-right {
    width: 100%;
    justify-content: space-between;
}
.cart-icon-footer {
    margin: 5px;
    padding: 50px;
}