.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Poppins ,sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-iteration-count: initial;
  animation-duration: 0.9s;
  transition: 0.9s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-iteration-count: initial;
  animation-duration: 0.9s;
  transition: 0.9s;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-iteration-count: initial;
  animation-duration: 0.9s;
  transition: 0.9s;
}
/*flex */
.flex {
  display: flex !important; /* red color  */
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex !important;
  flex-direction: column;
}

/* Button */
.btn {
  background-color: #232323 !important;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #343434 !important;
  color: #fff !important;
}
.btn-nothover {
  background-color: #232323 !important;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
