.Search {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-color: #fff;
  overflow: scroll;
  transition: all .3s ease-in;
}
.displayNone {
  opacity: 0;
  z-index: -2;
  pointer-events: none;
  /* display: none; */
}
.search-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.search-close {
  cursor: pointer;
}
.search-close .icon {
  font-size: 22px;
  font-weight: 300;
}
.search-title {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 400;
}
.search-form {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 20px;
}
.search-form form {
  align-items: center;
  border-bottom: 2px #ddd solid;
}
.search-form form input {
  height: 50px;
  border: none;
  transition: 0.5s;
  font-size: 18px;
  width: 100%;
  color: #888;
}
.search-form form:hover {
  border-bottom: 2px #111 solid;
}
.search-form form input:focus {
  outline: none !important;
}
.search-form form .icon {
  font-size: 20px;
  margin: 0 20px;
  color: #888;
}

@keyframes fadeIn {
    from {transform: translateY(100px);}
    to {transform: translateY(0px)}
  }
.fadeIn {
    animation: fadeIn .5s;
}