.Newsletter {
    height: 232px;
    padding: 0 40px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-title {
    font-size: 23px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
    font-family: Poppins-medium;
}
.newsletter-small {
    margin-bottom: 35px;
    color: #777;
    font-size: 14px;
    text-align: center;
}

.newsletter-container .newsletter-line {
    margin-top: 20px;
    background-color: #eee;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.newsletter-form {
    width: 100%;
}
.newsletter-btn {
    height: 30px;
    width: 80px;
    font-size: 11px;
}

.newsletter-input {
    font-size: 15px;
    height: 30px;
    width: 40%;
}

.btn {
    background-color: #232323 !important;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}