.BestSeller {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.Product {
  width: calc(25% - 30px);
  margin: 15px 15px 20px 15px;
  text-align: center;
  height: 25vm;
}
.product-img {
  height: calc(25vm  - 68px);
  position: relative;
}
.product-tag {
  position: absolute;
  z-index: 2;
  font-size: 10px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  top: 5px;
  left: 0;
}
.product-tag-item {
  line-height: 20px;
  width: 40px;
  height: 20px;
  margin: 10px 0;
  text-align: center;
}
.sale {
  background: #1cd481;
}
.hot {
  background: #fc5050;
}
.new {
  background: #fc9953;
}
.product-img-bg {
  height: 100%;
  width: 100%;
}
.product-img-bg img {
  height: 100%;
  transition: 1s;
  width: 100%;
}
.product-img-bg .img-default {
  position: absolute;
  top: 0;
  left: 0;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.product-title {
  margin-top: 20px;
  font-size: 14px;
  /* Add ... if text is full */
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product-price {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.product-overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content:space-around;
}

.product-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon-cart {
  position: relative;
  transition: .2s;
  bottom: -55px;
}

.Product:hover .icon-cart {
  transform: translateY(-70px);
}

.icon-wishlist {
  transition: .5s;
  position: relative;
  bottom: -55px;
}

.Product:hover .icon-wishlist {
  transform: translateY(-70px);
}

.icon-view {
  transition: .8s;
  position: relative;
  bottom: -55px;
}

.Product:hover .icon-view {
  transform: translateY(-70px);
}